/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');*/
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/JTUSjIg69CK48gW7PXoo9Wdhyzbi.woff2') format('woff2'),
       url('fonts/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  display: grid;
  min-block-size: 100%;
}
body {
  --h: 200;
  --s: 60%;
  --l: 62%;
  --bg: hsl(var(--h) var(--s) var(--l));
  --dark: hsl(var(--h) var(--s) 10%);
  --dark-hover: hsl(var(--h) var(--s) 25%);
  --light: hsl(var(--h) var(--s) 99%);

  --gap: 1.5rem;
  background: var(--bg);
  display: grid;
  height: 100%;
  margin: unset;
  place-content: center;
  padding: var(--gap) unset;
}
h1 {
  color: var(--light);
  display: flex;
  flex-flow: column;
  font-family: 'Bebas Neue', cursive;
  font-size: clamp(4rem, 1.1429rem + 9.1429vw, 8rem);
  line-height: .85;
  margin: calc(2 * var(--gap)) auto;
  width: 50%;
}
h1 span:last-of-type {
  align-self: flex-end;
  color: var(--dark);
}


/* Circle of Fifths */
.cf {
  aspect-ratio: 1.5;
  margin-block: var(--gap) 0;
  width: calc(85vw - (2 * var(--gap)));
}
.cf-arcs {
  transform: rotate(-15deg);
  transform-origin: 50% 50%;;
}
.scale{
  fill: "white";
  stroke: hsl(var(--h), var(--s), var(--l));
}
.note{
  fill: var(--dark);
  stroke: hsl(var(--h), var(--s), var(--l));
}
.scale:hover {
  fill: var(--dark-hover);
}
.scale_selected{
  fill: "green";
}
.note_selected{
  fill:"green"
}
.cf-text-inner,
.cf-text-middle {
  fill: var(--light);
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-weight: 500;
  letter-spacing: -0.065em;
  pointer-events: none;
  text-anchor: middle;
}
.cf-text-inner {
  font-size: .4em;
}
.cf-text-middle {
  font-size: .6em;
}

.cf [baseline-shift="super"] {
  font-size: 80%;
}